#firstrow {
    height: 80px;
    margin-top: 10px;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
}

.lastrow {
    color: azure;
    background-color: #37383A;
    border-top: 2px black solid;
}
.imageplace {
    margin-top: 15%;
}
.commonback {
    background-color: #F0F0F0;
}
.quote {
    padding-left: 20px;
    padding-right: 20px;
}
.lastp {
    margin: 50px;
}
.contentspace {
    padding: 12px;
}
.bottomborder {
    border-bottom: 1px lightgray solid;
}
.nomark {
    list-style-type: none;
}
.left {
    float: left;
    padding-right: 5px;
}
.single {
    width: auto;
    border-bottom: 2px lightgray solid;
    margin-top: 32px;
    display: inline-block;
    float: left;
    position: absolute;
}
@media only screen and (max-width: 500px) {
    .centersmall {
        text-align: center;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 500px) {
    .spacesmall {
        margin-top: 10px;
    }
}