#firstrow {
    height: 80px;
    border: 2px solid #F0F0F0;
}

.lastrow {
    color: azure;
    background-color: #37383A;
}
.margin {
    margin-top: 50%;
}
.commonback {
    background-color: #F0F0F0;
}
.quote {
    padding-left: 20px;
    padding-right: 20px;
}
.lastp {
    margin: 50px;;
}