#firstrow {
    height: 80px;
    border-bottom: 2px solid lightgray;
}

.lastrow {
    color: azure;
    background-color: #37383A;
    border-top: 2px black solid;
}
.imageplace {
    margin-top: 15%;
}
.commonback {
    background-color: #F0F0F0;
}
.quote {
    padding-left: 20px;
    padding-right: 20px;
}
.lastp {
    margin: 50px;
}
.contentspace {
    padding: 12px;
}
.bottomborder {
    border-bottom: 1px lightgray solid;
}
.nomark {
    list-style-type: none;
}